:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --dark-blue-secondary: hsl(213, 19%, 21%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  padding: 0 25px;
}

.rating-card-container {
  background-color: var(--dark-blue);
  padding: 2rem 1.5rem;
  border-radius: 16px;
  max-width: 24.5rem;
}

.star {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark-blue-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.rating-card-container > h1 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.rating-card-container > p {
  color: var(--medium-grey);
  font-size: 0.938rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.rating {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.circle-rating {
  width: 44px;
  height: 44px;
  background-color: var(--dark-blue-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--medium-grey);
  cursor: pointer;
}

.circle-rating:hover {
  color: var(--white);
  background-color: var(--orange);
}

.btn-submit {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 100%;
  border: none;
  font-weight: 400;
  border-radius: 50px;
  height: 44px;
  background-color: var(--orange);
  font-size: 1rem;
}

.btn-clicked {
  background-color: var(--light-grey);
  color: var(--white);
}

.btn-submit:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

.success-send-rating {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 16px;
  max-width: 24.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration-thank-you {
  margin-bottom: 1rem;
}

.information-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
  background-color: var(--dark-blue-secondary);
  font-size: 0.938rem;
  border-radius: 50px;
  height: 1.5rem;
  width: 200px;
  margin-bottom: 2rem;
}

.success-send-rating > h1 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.success-send-rating > p {
  color: var(--medium-grey);
  font-size: 0.938rem;
  font-weight: 400;
}
